.idea/
automation/services/mina-bp-stats/.vscode/launch.json
automation/services/mina-bp-stats/*.csv
automation/services/mina-bp-stats/*.json    
automation/services/mina-bp-stats/leaderboard-bot/minanet_app/config.py
